{% load staticfiles %}
{{ form.media.css }}
{{ form.media.js }}
<html>
    <head>
        <title>Twitter</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
      <div class="page-header">
            <h1><a href="/">Cadastro</a></h1>
      </div>


      <form id="CadastroForm" method ='POST'  novalidate> {% csrf_token %}
         {{ form.as_p }}

         {% if messages %}

          {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}

         {% endif %}

         <input type='submit' value='Enviar'/>
         <a href="{% url 'cadastro' %}"><input type =button value='Novo'></a>
         <br> <br>
         <a href="/"><input type =button value='Home'></a>

     </form>


  </body>
</html>
